*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;

	background-image: url(bg.jpg);
	background-position: center;
	background-size: cover;
	z-index: -10;
	padding: 10px;
}
#bg{
	position: absolute;
	z-index: -9;
	top: 5px;
	right: 5px;
	left: 5px;
	bottom: 5px;
	opacity: 0.5;
	background-color: white;
}
main{
	margin-top: 15vh;
	background-color: whitesmoke;
	padding: 30px;
	border-radius: 10px;
	width: 50vw;
	height: 70vh;

	overflow-y: auto;
}
h1{
	font-family: sans-serif;
}
#input{
	margin-block: 10px;
	width: 100%;
}
#input input{
	padding: 5px 10px;
	width: 80%;

	

}
#input button{
	padding: 5px 10px;
	margin-left: 10px	;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
}
#list{
	display: flex;
	flex-direction: column;

}
.std{
	display:flex;
	align-items: center;
	justify-content: space-around;
	margin-block: 10px;
}
.std .name{
	color: black;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;

	padding: 5px 5px;

}
.std input::placeholder {
    color: black; /* Standard */
}
.std input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}
.std input:-moz-placeholder { /* Firefox 18- */
    color: black;
}
.std input::-moz-placeholder { /* Firefox 19+ */
    color: black;
}
.std input:-ms-input-placeholder { /* Internet Explorer */
    color: black;
}
.std .edit,
.std .delete{
	padding: 10px 15px;
}
.edit{
	background-color: lightgreen;
	border-radius: 5px;
	border: none;
	box-shadow: none;
	font-family: sans-serif;
}
.delete{
	background-color: #ff6347;
	border-radius: 10px;
	border: none;
	box-shadow: none;
	font-family: sans-serif;
}
.serial,
.name{
	font-family: sans-serif;
}
.edit:hover{
	background-color: green;
	color: white;
}
.delete:hover{
	background-color: red;
	color: white;
}




